<html>
  <head>
    <title>Reservation</title>
    <!-- Include the bootstrap stylesheets -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body background="bg.jpg" ><center>
    <div class="container">
      <div class="row">
 <a href='/home'><div class="col-md-3">Home</div></a>
       <a href='/room'><div class="col-md-3">Rooms</div></a>
       <a href='/reserve'><div class="col-md-3">Reserve a Room</div></a>
	   <a href='/about'><div class="col-md-3">About Us</div></a>
      </div>
    </div>
	<font color=white>
	<center>
	<b><h1> RESERVATION COMPLETE!</h1></b>
	<p> Click Home to go back </p>
	</font>
	</center>
  </body>
</html>
